@import "bootstrap.min.css";

.nav-link {
    background-color: #474e59;
    margin: 4px;
    transition: all 0.1s;
    border-radius: 3px;
}

.nav-link:hover {
    background-color: grey !important;
    border-radius: 3px;
}

body {
    padding: 100px;
}

.logo-image {
    width: 50px;
    border-radius: 10px;
    transition: all 0.3s;
}

.logo-image:hover {
    opacity: 0.5;
}

.lootBoxShop {
    border: solid 3px grey;
    border-radius: 20px;
    display: inline-block;
    padding: 40px;
    position: relative;
}

.lootBoxShop img {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    display: block;
    padding: 30px
}

.userInfo {
    margin: 15px;
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 5px;
}

.buyButton {
    position: relative !important;
    right: 30px;
    bottom: 30px;
}

.registrationForm {
    padding: 30px;
    display: table-caption;
    border: solid grey 1px;
    border-radius: 3px;
}

#missingHeader, #duplicatesHeader {
    color: #111111;
    font-size: 2em;
    padding: 20px;
}

.playerPicture {
    border-radius: 30px;
    width: 300px;
}

.playerInfo {
    text-align: center;
}

.playerContainer {
    display: inline-block;
    max-width: 400px;
}

