@import "bootstrap.min.css";

.nav-link {
    background-color: #474e59;
    margin: 4px;
    transition: all 0.1s;
    border-radius: 3px;
}

.nav-link:hover {
    background-color: grey !important;
    border-radius: 3px;
}

body{
    padding:100px;
}